body {
  margin: 0;
  font-family: Arial;
  background-image: url("../images/web1.jpg");
  background-size: cover;
  color: rgb(255, 255, 255);
  background-color: #F9FAF4;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
h1{
  font-family: Arial Black;
  color: #F9A66C;

}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  top: 467px;
  transform: translate(-50%, -50%);
}
button{
  font-family: Arial Black;
  background-color: #4CAF50;
}
